.overview-slide-container {
  display: flex;
  max-width: 100%;
  /* overflow: hidden; */
  height: 100vh;
  /* padding: 4rem 0; */
  margin: 10rem 4rem;
  /* align-items: center;
  justify-content: center; */
  /* gap: 40px; */
}

.overview-problem-container,
.overview-solution-container {
  /* max-width: 40%; */
  padding: 1.25rem 0;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  /* padding: 2rem; */
  width: 100%;
}

.overview-problem-container {
  margin-bottom: 14rem;
  margin-right: -6rem;
  /* background-color: rgba(201, 147, 255, 0.079); */
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  /* mix-blend-mode: multiply; */
}

.overview-solution-container {
  margin-top: 14rem;
  margin-left: -6rem;
  /* align-self: flex-end; */
  /* background-color: rgba(230, 205, 255, 0.479); */
  border-radius: 80% 30% 50% 50%/50%;
  /* mix-blend-mode: multiply; */
}

.overview-problem-container .slide-text,
.overview-solution-container .slide-text {
  mix-blend-mode: multiply;
  max-width: 70%;
}

.overview-problem-container .slide-text h2,
.overview-solution-container .slide-text h2 {
  font-size: 18px;
}

.overview-problem-container .slide-text h3,
.overview-solution-container .slide-text h3 {
  font-size: 32px;
  line-height: 42px;
}

.overview-problem-container .slide-text p,
.overview-solution-container .slide-text p {
  font-size: 22px;
}

.overview-details {
  border-top: 1.5px solid rgb(219, 219, 219);
  padding: 2rem;
  margin: 0 12rem 0 12rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  color: rgb(51, 51, 51);
  /* line-height: 16px; */
}

.overview-details h4 {
  margin: 0;
  font-weight: 400;
}

.overview-details p {
  font-weight: 300;
}

.detail-block {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 30%;
}

@media screen and (max-width: 1550px) {
  .overview-problem-container {
    margin-right: -3rem;
  }

  .overview-solution-container {
    margin-left: -3rem;
  }
}

@media screen and (max-width: 1300px) {
  .overview-details {
    margin: 0 4rem 8rem 4rem;
  }

  .overview-problem-container {
    margin-right: -2rem;
  }

  .overview-problem-container .slide-text h2,
  .overview-solution-container .slide-text h2 {
    font-size: 16px;
  }

  .overview-problem-container .slide-text h3,
  .overview-solution-container .slide-text h3 {
    font-size: 28px;
    line-height: 34px;
  }

  .overview-problem-container .slide-text p,
  .overview-solution-container .slide-text p {
    font-size: 18px;
  }

  .overview-solution-container {
    margin-left: -2rem;
  }
}

@media screen and (max-width: 1030px) {
  .overview-details {
    border-top: none;
    /* border-bottom: 1.5px solid rgb(219, 219, 219); */
    margin: 4rem 2rem 4rem 2rem;
  }

  .overview-slide-container {
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* height: 100vh; */
    height: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 1.25rem;
    margin: 0;
  }

  .overview-problem-container {
    margin: 0;
    /* background-color: transparent !important; */
    border-radius: 0 !important;
  }

  .overview-solution-container {
    margin: 0;
    /* background-color: transparent !important; */
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 750px) {
  .overview-details {
    padding: 2rem;
    flex-direction: column;
    margin: 0 auto 4rem auto;

  }

  .detail-block {
    max-width: 100%;
  }
}
